body {
  margin: 0;
  padding: 0;
  /* background: #353b48; */
  background-color: #000;
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: top center;
  font-family: "Source Sans Pro", sans-serif;
  justify-content: center;
  align-items: center;
}

.materialstext {
  font-weight: 300;
  font-size: 1.7em;
  line-height: 1.65;
  text-align: center;
  color: #6c5ce7;
}

.summercamp a {
  margin: 1em 22em 1em;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  font-size: 2em;
  color: #2c3e50;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  background: #7f8c8d;
}

.summercamp a:hover {
  background: #95a5a6;
}
