body {
  margin: 0;
  padding: 0;
  /* background: black; */
  background-color: #000;
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: top center;
}

#text {
  color: white;
  font-size: 90px;
  text-align: center;
  margin-top: 350px;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 700;
}
